.socialIcons {
    color: #CD5C5C;
    font-size: 1em;
}

.secondCardFont {
    font-size: 1em;
}

@font-face {
    font-family: "myFont";
    src: url(../font/RobotoCondensed-Light.ttf);
}

body {
    font-family: 'myFont';
}

.bg-success {
    background-color: #CD5C5C !important;
}

.font-size {
    font-size: 2em;
}

.HeaderIcons {
    color: #CD5C5C;
    font-size: 2em;
}

.jumbotron {
    margin-bottom: 0px !important;
}

.cursor {
    cursor: pointer
}